<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<!-- link rel="icon" href="../../../../favicon.ico" -->

<title>Cadastro de usuario</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#" th:text="${user}"></a>

		<div class="form-inline">
			<a class="btn btn-outline-primary" th:href="@{/}">Voltar
				ao Inicio
				</a>
		</div>

	</nav>

	<div class="container">
		<div class="py-5 text-center">
			<img class="d-block mx-auto mb-4"
				src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg"
				alt="" width="72" height="72">
			<h2>Cadastrar Função</h2>
			<p class="lead">Área de cadastro de função para usuários</p>
		</div>

		<div class="row">

			<div class="col-md-12 order-md-1">
				<h4 class="mb-3">Informações da função</h4>
				<form class="needs-validation" method="post"
					th:action="@{/cadastrar-funcao}">
					<div class="row">
						<div class="col-md-12 mb-3">
							<label for="funcao">Função (Função do usuário)</label> 
							<input
								type="text" class="form-control" name="funcao" id="funcao"
								placeholder="" required/>
							<div class="invalid-feedback">Requer nome da função</div>
						</div>
					</div>




					<hr class="mb-4">
					<button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar</button>
				</form>
			</div>
		</div>

		<footer class="my-5 pt-5 text-muted text-center text-small">
			<p class="mb-1">&copy; 2017-2018 W - Informatica</p>

		</footer>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="/js/vendor/jquery-slim.min.js"><\/script>')
	</script>
	<script src="/js/vendor/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/vendor/holder.min.js"></script>

</body>
</html>
